<!DOCTYPE html>
<html>
<head>
  <title>Slap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/partial/nav_bar' %>

<%= yield %>

</body>
</html>
